## compare overlap between squire and telescope dTE results

In [1]:
# import packages
import pandas as pd
import numpy as np
import scanpy as sc
import sys
import os
import seaborn as sn

from matplotlib import pyplot as plt
from matplotlib_venn import venn2

In [2]:
sys.path.append("/home/lucy/Dropbox/turner_organoid_bulk_RNA_local/")
import zc_volcano

In [3]:
import warnings
warnings.filterwarnings( 'ignore' )

In [7]:
import pickle

## load data

In [4]:
squire_sig_up = pd.read_csv("./compare_dTE_overlap/squire_sig_up.csv", header = 0, index_col= 0 )
tele_sig_up = pd.read_csv("./compare_dTE_overlap/tele_sig_up.csv", header=0, index_col = 0 )

In [5]:
squire_sig_up.head(2)

,TE_ID,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj,element_type,TE_name,TE_index,repName,repFamily,repClass,genoName,genoStart,genoEnd,strand
279_RLTR4_MM-int,chr7|116034016|116036134|RLTR4_MM-int:LTR:LTR|...,13.232138,7.261792,1.103073,6.583238,6.866753e-09,8.559487e-07,TE,RLTR4_MM-int:LTR:LTR,RLTR4_MM-int:LTR:LTR_33,RLTR4_MM-int,LTR,LTR,chr7,116034016,116036134,+
845_L1MC2,"chr5|96975368|96975991|L1MC2:L1:LINE|284|-,.",84.993681,2.143785,0.213613,10.035838,4.290302e-08,4.946900e-06,TE,L1MC2:L1:LINE,L1MC2:L1:LINE_284,L1MC2,L1,LINE,chr5,96975368,96975991,-

In [6]:
tele_sig_up.head(2)

,transcript_id,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj,repClass,repFamily,repName,name_fam,name_fam_class,genoName,genoStart,genoEnd,strand
56475_B1F,B1F_354,33.036745,2.129803,0.305731,6.966267,3.254608e-12,4.160732e-10,SINE,Alu,B1F,B1F|Alu,B1F|Alu|SINE,chr1,36709993,36710089,+
56476_B1F,B1F_354,33.036745,2.129803,0.305731,6.966267,3.254608e-12,4.160732e-10,SINE,Alu,B1F,B1F|Alu,B1F|Alu|SINE,chr1,44956646,44956789,-

In [9]:
with open( "./compare_dTE_overlap/sig_up_hit_dict.pkl", 'rb') as f:
    hit_dict = pickle.load(f)

In [10]:
hit_dict

{'279_RLTR4_MM-int': ['2320117_RLTR4_MM-int'],
 '1028_RMER17B2': ['2356998_RMER17B2'],
 '1604_RLTR4_MM-int': ['2320303_RLTR4_MM-int'],
 '1762_RLTR4_MM-int': ['2319979_RLTR4_MM-int'],
 '1780_RLTR4_MM-int': ['2325657_RLTR4_MM-int'],
 '1837_RLTR4_MM-int': ['2320089_RLTR4_MM-int'],
 '1891_RLTR4_MM-int': ['2319751_RLTR4_MM-int'],
 '1936_RLTR4_MM-int': ['2325652_RLTR4_MM-int'],
 '2187_RLTR4_MM-int': ['2320293_RLTR4_MM-int'],
 '2240_IAPEz-int': ['966380_IAPEz-int'],
 '2730_MMVL30-int': ['1739788_MMVL30-int'],
 '3348_RLTR4_MM-int': ['2319919_RLTR4_MM-int'],
 '3390_MMVL30-int': ['1739409_MMVL30-int'],
 '4128_RLTR4_MM-int': ['2320408_RLTR4_MM-int'],
 '4915_RLTR4_MM-int': ['2320016_RLTR4_MM-int'],
 '5525_IAPLTR1_Mm': ['970991_IAPLTR1_Mm'],
 '5634_RLTR4_Mm': ['2326647_RLTR4_Mm'],
 '5858_RLTR4_MM-int': ['2320166_RLTR4_MM-int'],
 '5984_RLTR4_MM-int': ['2320306_RLTR4_MM-int'],
 '6106_RLTR4_Mm': ['2326648_RLTR4_Mm'],
 '6228_RLTR4_MM-int': ['2324932_RLTR4_MM-int'],
 '6296_IAPEY4_I': ['963904_IAPEY4_I'],
 '6894_L1MC5a': ['1241523_L1MC5a'],
 '7047_RLTR4_MM-int': ['2325809_RLTR4_MM-int'],
 '7138_RLTR4_MM-int': ['2319513_RLTR4_MM-int'],
 '7290_RLTR4_MM-int': ['2325648_RLTR4_MM-int'],
 '7627_IAPEY4_I': ['963903_IAPEY4_I'],
 '7895_RLTR4_MM-int': ['2321363_RLTR4_MM-int'],
 '8033_RLTR4_MM-int': ['2325620_RLTR4_MM-int'],
 '8370_L1MdA_III': ['1262112_L1MdA_III'],
 '8373_RLTR4_MM-int': ['2319763_RLTR4_MM-int'],
 '8873_IAPLTR1a_Mm': ['973748_IAPLTR1a_Mm'],
 '9145_RLTR4_Mm': ['2326618_RLTR4_Mm'],
 '9437_RLTR4_MM-int': ['2322673_RLTR4_MM-int'],
 '9492_B2_Mm2': ['496411_B2_Mm2'],
 '9629_RLTR6_Mm': ['2330685_RLTR6_Mm'],
 '10869_RLTR4_MM-int': ['2325680_RLTR4_MM-int'],
 '11074_RLTR4_MM-int': ['2319924_RLTR4_MM-int'],
 '11081_L1MdGf_II': ['1300865_L1MdGf_II'],
 '11292_RLTR4_Mm': ['2326667_RLTR4_Mm'],
 '12019_Tigger18a': ['2485060_Tigger18a'],
 '12106_MT2B1': ['1744187_MT2B1'],
 '12235_RLTR4_MM-int': ['2319921_RLTR4_MM-int'],
 '12455_RLTR4_Mm': ['2326666_RLTR4_Mm'],
 '12535_IAPEz-int': ['966553_IAPEz-int'],
 '12794_MMVL30-int': ['1739626_MMVL30-int'],
 '12940_RLTR6_Mm': ['2330549_RLTR6_Mm'],
 '13050_RLTR4_MM-int': ['2325005_RLTR4_MM-int'],
 '13166_IAPLTR1_Mm': ['970990_IAPLTR1_Mm'],
 '13909_IAPEz-int': ['970277_IAPEz-int'],
 '14539_RLTR4_Mm': ['2326598_RLTR4_Mm'],
 '15085_RLTR4_MM-int': ['2322949_RLTR4_MM-int']}

## label overlapped sequences in the sig up dfs